# Laravel specific
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Uploaded files (keep directory, ignore contents)
/public/images/profile_pictures/*
!public/images/profile_pictures/.gitkeep

# Log files
/storage/logs/*.log

# Cache & Sessions
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# Dependencies
composer.lock
package-lock.json
